# BACKEND DATA IGNORED

# Archivos de caché de Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Entorno virtual de Python
venv/
.venv/

# Archivos de configuración sensibles (si los manejas localmente)
apps/backend/app/config.py
apps/backend/.env
apps/backend/app/.env

# Dependencias del backend (si usas pipenv o poetry)
Pipfile
Pipfile.lock
poetry.lock

# Logs y archivos temporales
apps/backend/*.log
apps/backend/logs/
apps/backend/tmp/
apps/backend/.cache/


# FRONTEND DATA IGNORED

# dependencies
**/node_modules/
.pnp
.pnp.*

# Yarn
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
**/coverage/

# Next.js
frontend/.next/
frontend/out/

# Next.js (en caso de que haya más de un frontend)
**/.next/
**/out/

# production builds
**/build/

# Misc
.DS_Store
*.pem

# Ignorar todo lo generado dentro de frontend/
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/coverage/
frontend/.turbo/
frontend/.cache/
frontend/.eslintcache
frontend/.swc/
